.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 706px;
}

.u-section-1 .u-group-1 {
  width: 950px;
  min-height: 476px;
  margin: 77px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 134px;
  height: 134px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: "Fredoka One";
  font-size: 4.5rem;
  font-weight: 300;
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 7px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 25px;
  min-height: 16px;
  width: 190px;
  min-width: 154px;
  margin: 32px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-layout-wrap-1 {
  width: 718px;
  margin: 20px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 58px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 0 30px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  border-style: none;
  font-weight: 600;
  animation-duration: 1000ms;
  background-image: none;
  margin: 0 auto 0 190px;
  padding: 15px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-btn-1 {
    text-transform: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}